body {
  box-sizing: border-box;
}

.content {
  min-height: 86vh;
}

.img-card {
  max-height: 200px;
}

#map {
  height: 350px;
  width: 100%;
}

.ficha {
  background: white;
  border: 1px solid #7b7e7b;
  /* border-radius: 15px; */
}
.ficha:hover {
  border: 2px solid #29da29;
}
